@tailwind base;
@tailwind components;
@tailwind utilities;

.traingle {
  height: 0px;
  width: 0px;
  border-top: 24px solid transparent;
  border-bottom: 24px solid black;
}

.left {
  border-left: 24px solid transparent;
  border-right: 24px solid black;
}

.right {
  border-left: 24px solid black;
  border-right: 24px solid transparent;
}
